.app-container {
    display: flex;
    height: 100vh;
  }
  
  app-sidebar {
    width: 200px;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc;
  }
  
  app-canvas {
    flex: 1;
    position: relative;
  }
  